# Virtuoso files /data/db
/data/publication-triplestore/*
/data/db/*
/data/exports/*
/data/toezicht-reports/*
/data/db/virtuoso.ini
!/data/db/toLoad
!/data/db/toLoad/*
/data/files/*
.DS_Store
*~

!/tmp/

docker-compose.override.yml
.htpasswd
.env

# delta-producer-publication-graph-maintainer and delta-producer-background-jobs-initiator config overrides
config/delta-producer/background-jobs-initiator/config.override.json
config/delta-producer/publication-graph-maintainer/config.override.json
