version: '3.4'

x-logging:
  &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

services:
  loket:
    image: lblod/frontend-loket:0.24.2
    links:
      - identifier:backend
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  identifier:
    image: semtech/mu-identifier:1.7.0
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  dispatcher:
    image: semtech/mu-dispatcher:1.1.2
    volumes:
      - ./config/dispatcher:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  database:
    image: semtech/mu-authorization:0.6.0-beta.2
    environment:
      MU_SPARQL_ENDPOINT: "http://virtuoso:8890/sparql"
    volumes:
      - ./config/authorization:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  virtuoso:
    image: tenforce/virtuoso:1.3.2-virtuoso7.2.1
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://mu.semte.ch/application"
    volumes:
      - ./data/db:/data
      - ./config/db/:/opt/virtuoso-scripts
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  migrations:
    image: semtech/mu-migrations-service:0.5.1
    links:
      - virtuoso:database
    environment:
      MU_SPARQL_TIMEOUT: '300'
    volumes:
      - ./config/migrations:/data/migrations
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  cache:
    image: semtech/mu-cache:2.0.0
    links:
      - resource:backend
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  resource:
    image: semtech/mu-cl-resources:1.17.1
    volumes:
      - ./config/resources:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  login:
    image: lblod/acmidm-login-service:0.8.0
    environment:
      MU_APPLICATION_AUTH_DISCOVERY_URL: "https://authenticatie-ti.vlaanderen.be/op"
      MU_APPLICATION_AUTH_CLIENT_ID: "a2c0d6ea-01b4-4f68-920b-10834a943c27"
      MU_APPLICATION_AUTH_REDIRECT_URI: "https://loket.lblod.info/authorization/callback"
      MU_APPLICATION_AUTH_CLIENT_SECRET: "secret"
      LOG_SINK_URL: "http://sink"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  validation:
    image: semtech/mu-validation-service:0.3.0
    volumes:
      - ./config/validations:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  file:
    image: semtech/mu-file-service:3.1.0
    volumes:
      - ./data/files:/share
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  create-bbcdr:
    image: lblod/create-bbcdr-rapporten-service:0.5.0
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  package-bbcdr:
    image: lblod/package-bbcdr-rapporten-service:0.3.4
    volumes:
      - ./data/files:/data/files
    environment:
      PACKAGE_CRON_PATTERN: '0 0 * * * *'
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  deliver-bbcdr:
    image: lblod/deliver-bbcdr-rapporten-service:0.3.5
    volumes:
      - ./data/files:/data/files
    environment:
      PACKAGE_CRON_PATTERN: '0 0 * * * *'
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  dbcleanup:
    image: lblod/db-cleanup-service:0.3.0
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  export-leidinggevenden:
    image: lblod/mandaten-download-generator-service:0.3.4
    links:
      - virtuoso:database
    environment:
      EXPORT_CRON_PATTERN: "0 0 5 * * *"
      EXPORT_FILE_BASE: "leidinggevenden"
      MU_APPLICATION_GRAPH: "http://mu.semte.ch/graphs/system/export-leidinggevenden"
    volumes:
      - ./data/exports/leidinggevenden:/data/exports
      - ./config/export/leidinggevenden:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  export-mandaten:
    image: lblod/mandaten-download-generator-service:0.3.4
    links:
      - virtuoso:database
    environment:
      EXPORT_CRON_PATTERN: "0 0 4 * * *"
      MU_APPLICATION_GRAPH: "http://mu.semte.ch/graphs/system/export-mandatendatabank"
    volumes:
      - ./data/exports/mandaten:/data/exports
      - ./config/export/mandaten:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  export-inzendingen:
    image: lblod/mandaten-download-generator-service:0.3.4
    links:
      - virtuoso:database
    environment:
      EXPORT_CRON_PATTERN: "0 0 3 * * *"
      EXPORT_FILE_BASE: "inzendingen"
      MU_APPLICATION_GRAPH: "http://mu.semte.ch/graphs/system/export-inzendingen"
    volumes:
      - ./data/exports/inzendingen:/data/exports
      - ./config/export/inzendingen:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  export-log-entries:
    image: lblod/mandaten-download-generator-service:0.3.4
    links:
      - virtuoso:database
    environment:
      EXPORT_CRON_PATTERN: "0 0 3 * * *"
      EXPORT_FILE_BASE: "log-entries"
      MU_APPLICATION_GRAPH: "http://mu.semte.ch/graphs/system/export-log-entries"
    volumes:
      - ./data/exports/log-entries:/data/exports
      - ./config/export/log-entries:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  package-toezicht:
    image: lblod/package-toezicht-dossier-service:0.1.4
    volumes:
      - ./data/files:/data/files
    environment:
      PACKAGE_CRON_PATTERN: '0 0 * * * *'
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  deliver-toezicht:
    image: lblod/deliver-toezicht-dossier-service:0.1.4
    volumes:
      - ./data/files:/data/files
    environment:
      PACKAGE_CRON_PATTERN: '0 0 * * * *'
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  berichtencentrum-email-notification:
    image: lblod/berichtencentrum-email-notification-service:0.1.2
    restart: always
    logging: *default-logging
  berichtencentrum-deliver-email-service:
    image: lblod/berichtencentrum-deliver-email-service:0.3.0
    restart: always
    logging: *default-logging
  berichtencentrum-sync-with-kalliope:
    image: lblod/berichtencentrum-sync-with-kalliope-service:0.4.12
    environment:
      KALLIOPE_PS_UIT_ENDPOINT: "https://kalliope-svc-test.abb.vlaanderen.be/api/poststuk-uit"
      KALLIOPE_PS_IN_ENDPOINT: "https://kalliope-svc-test.abb.vlaanderen.be/api/poststuk-in"
      BERICHTEN_CRON_PATTERN: "*/5 * * * *"
      INZENDINGEN_CRON_PATTERN: "0 22 * * *"
      MAX_MESSAGE_AGE: 1
      MAX_SENDING_ATTEMPTS: 20
      INZENDING_BASE_URL: "https://besluiten.abb.lblod.info/toezicht/inzendingen"
    volumes:
      - ./data/files:/data/files
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  filehost:
    image: nginx:1.15.2
    volumes:
      - ./config/filehost/nginx.conf:/etc/nginx/nginx.conf
      - ./config/filehost/conf.d:/etc/nginx/conf.d
      - ./data/files:/data:ro
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  sink:
    image: nginx:1.15.2
    volumes:
      - ./config/sink/sink.conf:/etc/nginx/conf.d/default.conf
    restart: always
    labels:
      logging: "true"
  download-url-service:
    image: lblod/loket-download-url-service:0.1.0
    environment:
      CACHING_MAX_RETRIES: 300
      CACHING_CRON_PATTERN: '0 */15 * * * *'
      MAX_PENDING_TIME_IN_SECONDS: 7200
    links:
      - virtuoso:database
    volumes:
      - ./data/files:/data/files
    restart: always
    logging: *default-logging
  adressenregister:
    image: lblod/adressenregister-fuzzy-search-service:0.4.0
    restart: always
    logging: *default-logging
  person-reconciliation:
    image: lblod/person-reconciliation-service:0.1.1
  report-generation:
    image: lblod/loket-report-generation-service:0.2.0
    links:
      - database:database
    volumes:
      - ./data/files:/share
      - ./config/reports:/app/reports
    restart: always
    logging: *default-logging
