version: "3.7"

x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

services:
  loket:
    image: lblod/frontend-loket:0.97.3
    links:
      - identifier:backend
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  dashboard:
    image: lblod/frontend-dashboard:1.6.0
    environment:
      EMBER_LOGIN_ROUTE: "mock-login"
    links:
      - identifier:backend
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  vendor-management:
    image: lblod/frontend-vendor-access-management:0.8.0
    links:
      - identifier:backend
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  identifier:
    image: semtech/mu-identifier:1.10.1
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  dispatcher:
    image: semtech/mu-dispatcher:2.1.0-beta.2
    volumes:
      - ./config/dispatcher:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  deltanotifier:
    image: cecemel/delta-notifier:0.2.0-beta.6
    volumes:
      - ./config/delta:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  database:
    image: semtech/mu-authorization:feature-service-roam-r1.1
    environment:
      MU_SPARQL_ENDPOINT: "http://virtuoso:8890/sparql"
      DATABASE_OVERLOAD_RECOVERY: "true"
      DATABASE_COMPATIBILITY: "Virtuoso"
      # Note: not sure wether it gets picked up properly, it is meant for healing-process which may make
      # heavy queries
      QUERY_MAX_PROCESSING_TIME: 605000
      QUERY_MAX_EXECUTION_TIME: 605000
    volumes:
      - ./config/authorization:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  virtuoso:
    image: redpencil/virtuoso:1.2.0-rc.1
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://mu.semte.ch/application"
    volumes:
      - ./data/db:/data
      - ./config/virtuoso/virtuoso.ini:/data/virtuoso.ini # Note: on production override this setting
      - ./config/virtuoso/:/opt/virtuoso-scripts
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  migrations:
    image: semtech/mu-migrations-service:0.9.0
    links:
      - virtuoso:database
    environment:
      MU_SPARQL_TIMEOUT: "300"
    volumes:
      - ./config/migrations:/data/migrations
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  cache:
    image: semtech/mu-cache:2.0.1
    links:
      - resource:backend
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  resource:
    image: semtech/mu-cl-resources:feature-differently-stable-luckless
    environment:
      CACHE_CLEAR_PATH: "http://cache/.mu/clear-keys"
    volumes:
      - ./config/resources:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  login:
    image: lblod/acmidm-login-service:0.11.0
    environment:
      MU_APPLICATION_AUTH_DISCOVERY_URL: "https://authenticatie-ti.vlaanderen.be/op"
      MU_APPLICATION_AUTH_CLIENT_ID: "a2c0d6ea-01b4-4f68-920b-10834a943c27"
      MU_APPLICATION_AUTH_REDIRECT_URI: "https://loket.lblod.info/authorization/callback"
      MU_APPLICATION_AUTH_CLIENT_SECRET: "secret"
      LOG_SINK_URL: "http://sink"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  impersonation:
    image: lblod/impersonation-service:0.2.0
    restart: always
    logging: *default-logging
  validation:
    image: semtech/mu-validation-service:0.3.0
    volumes:
      - ./config/validations:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  file:
    image: cecemel/file-service:3.3.0
    volumes:
      - ./data/files:/share
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  virus-scanner:
    image: redpencil/virus-scanner-service:0.1.0
    environment:
      VIRUS_SCANNER_CLAMD_USER: "root"
    links:
      - database:database
    volumes:
      - ./data/files:/share
      # TODO: is this required? We'd like to avoid docker-volumes
      # - ./data/files/virus-scanner-signatures:/var/lib/clamav
    restart: always
    logging: *default-logging
  create-bbcdr:
    image: lblod/create-bbcdr-rapporten-service:0.5.0
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  package-bbcdr:
    image: lblod/package-bbcdr-rapporten-service:0.4.0
    volumes:
      - ./data/files:/data/files
    environment:
      PACKAGE_CRON_PATTERN: "0 0 * * * *"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  deliver-bbcdr:
    image: lblod/deliver-bbcdr-rapporten-service:0.3.5
    volumes:
      - ./data/files:/data/files
    environment:
      PACKAGE_CRON_PATTERN: "0 0 * * * *"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  dbcleanup:
    image: lblod/db-cleanup-service:0.5.0
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  berichtencentrum-email-notification:
    image: lblod/berichtencentrum-email-notification-service:0.4.1
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  submission-email-notification:
    image: lblod/toezicht-submission-email-notification-service:0.2.0
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  deliver-email-service:
    image: redpencil/deliver-email-service:0.2.0
    environment:
      MAILBOX_URI: "http://data.lblod.info/id/mailboxes/1"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  berichtencentrum-sync-with-kalliope:
    image: lblod/berichtencentrum-sync-with-kalliope-service:0.21.0
    environment:
      MU_SPARQL_ENDPOINT: "http://database:8890/sparql"
      MU_SPARQL_UPDATEPOINT: "http://database:8890/sparql"
      KALLIOPE_PS_UIT_ENDPOINT: "https://kalliope-svc-test.abb.vlaanderen.be/api/poststuk-uit"
      KALLIOPE_PS_IN_ENDPOINT: "https://kalliope-svc-test.abb.vlaanderen.be/api/poststuk-in"
      KALLIOPE_PS_UIT_CONFIRMATION_ENDPOINT: "https://kalliope-svc-test.abb.vlaanderen.be/api/poststuk-uit/ontvangstbevestiging"
      BERICHTEN_CRON_PATTERN: "*/5 * * * *"
      INZENDINGEN_CRON_PATTERN: "0 22 * * *"
      BERICHTEN_IN_CONFIRMATION_CRON_PATTERN: "*/5 * * * *"
      MAX_MESSAGE_AGE: 2
      MAX_SENDING_ATTEMPTS: 20
      MAX_CONFIRMATION_ATTEMPTS: 20
      INZENDING_BASE_URL: "https://besluiten.abb.lblod.info/supervision/submissions"
      EREDIENSTEN_BASE_URL: "https://databankerediensten.lokaalbestuur.vlaanderen.be/search/submissions"
    volumes:
      - ./config/berichtencentrum-sync-with-kalliope:/config
      - ./data/files:/data/files
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  filehost:
    image: nginx:1.15.2
    volumes:
      - ./config/filehost/nginx.conf:/etc/nginx/nginx.conf
      - ./config/filehost/conf.d:/etc/nginx/conf.d
      - ./data/files:/data:ro
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  sink:
    image: nginx:1.15.2
    volumes:
      - ./config/sink/sink.conf:/etc/nginx/conf.d/default.conf
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  adressenregister:
    image: lblod/adressenregister-fuzzy-search-service:0.8.0
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  report-generation:
    image: lblod/loket-report-generation-service:0.8.2
    volumes:
      - ./data/files:/share
      - ./config/reports/:/config/
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  download-url:
    image: lblod/download-url-service:1.0.3
    environment:
      CACHING_MAX_RETRIES: "10"
    volumes:
      - ./data/files:/share
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  automatic-submission:
    image: lblod/automatic-submission-service:1.4.0
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  import-submission:
    image: lblod/import-submission-service:1.3.0
    volumes:
      - ./data/files:/share
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  enrich-submission:
    image: lblod/enrich-submission-service:1.11.0
    environment:
      ACTIVE_FORM_FILE: "share://semantic-forms/20240527111832-forms.ttl"
    volumes:
      - ./config/semantic-forms:/share/semantic-forms
      - ./data/files/submissions:/share/submissions
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  validate-submission:
    image: lblod/validate-submission-service:1.2.1
    environment:
      MAX_BODY_SIZE: "10000kb"
    volumes:
      - ./config/semantic-forms:/share/semantic-forms
      - ./data/files/submissions:/share/submissions
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  toezicht-flattened-form-data-generator:
    image: lblod/toezicht-flattened-form-data-generator:1.3.0
    volumes:
      - ./data/files/submissions:/share/submissions
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  export-submissions:
    image: lblod/mandaten-download-generator-service:0.3.6-hotfix_4
    links:
      - virtuoso:database
    environment:
      EXPORT_CRON_PATTERN: "0 0 3 * * *"
      EXPORT_FILE_BASE: "submissions"
      MU_APPLICATION_GRAPH: "http://mu.semte.ch/graphs/system/export-submissions"
    volumes:
      - ./data/exports/submissions:/data/exports
      - ./config/export/submissions:/config
    restart: always
    logging: *default-logging
  clean-up-submission:
    image: lblod/clean-up-submission-service:1.1.0
    volumes:
      - ./data/files:/share
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  person-uri-for-social-security-number:
    image: lblod/person-uri-for-social-security-number-service:0.4.0
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  sync-with-kalliope-error-notification:
    image: lblod/sync-with-kalliope-error-notification-service:0.1.3
    environment:
      EMAIL_FOLDER: "http://data.lblod.info/id/mail-folders/2"
      EMAIL_GRAPH: "http://mu.semte.ch/graphs/system/email"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  mandataris-archive:
    image: lblod/mandataris-archive-service:0.0.6
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  berichtencentrum-warning:
    image: lblod/berichtencentrum-warning-service:0.0.2
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  download-url-warning:
    image: lblod/download-url-warning-service:0.1.2
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  jobs-controller:
    image: lblod/job-controller-service:1.0.1
    volumes:
      - ./config/jobs-controller/:/config/
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  error-alert:
    image: lblod/loket-error-alert-service:1.0.0
    volumes:
      - ./config/error-alert:/config/
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  prepare-submissions-for-export:
    image: lblod/prepare-submissions-for-export-service:0.11.0
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  eredienst-mandatarissen-consumer:
    image: lblod/delta-consumer:0.0.23
    volumes:
      - ./config/delta-consumer/eredienst-mandatarissen:/config/triples-dispatching/custom-dispatching
      - ./data/files/consumer-files:/consumer-files
    environment:
      DCR_SERVICE_NAME: "eredienst-mandatarissen-consumer"
      DCR_SYNC_BASE_URL: "https://dev.harvesting-self-service.lblod.info"
      DCR_JOB_CREATOR_URI: "http://data.lblod.info/services/id/eredienst-mandatarissen-consumer"
      DCR_DELTA_SYNC_JOB_OPERATION: "http://eredienst-mandatarissen-consumer/delta-sync"
      DCR_SYNC_DATASET_SUBJECT: "http://data.lblod.info/datasets/delta-producer/dumps/lblod-harvester/WorshipCacheGraphDump"
      DCR_INITIAL_SYNC_JOB_OPERATION: "http://eredienst-mandatarissen-consumer/initial-sync"
      DCR_SYNC_FILES_PATH: "/sync/worship/files/"
      DCR_CRON_PATTERN_DELTA_SYNC: "15 * * * *" # Every hour at 15 minutes past the hour
      DCR_DISABLE_INITIAL_SYNC: "true" # prefer to enable it manually on deploy
      DCR_KEEP_DELTA_FILES: "true"
      DCR_DELTA_FILE_FOLDER: "/consumer-files/eredienst-mandatarissen"
      INGEST_GRAPH: "http://eredienst-mandatarissen-consumer/temp"
      DCR_SYNC_LOGIN_ENDPOINT: "https://dev.harvesting-self-service.lblod.info/sync/worship/login"
      DCR_SECRET_KEY: "66d0fda1-e987-4cf3-bf8c-80ee16271214"
      SLEEP_BETWEEN_BATCHES: "100"
      BATCH_SIZE: "500"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  dispatcher-worship-mandates:
    image: lblod/worship-positions-graph-dispatcher-service-loket:1.5.0
    environment:
      LOGLEVEL: "info"
      SUDO_QUERY_RETRY: "true"
      SUDO_QUERY_RETRY_FOR_HTTP_STATUS_CODES: "500"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  update-bestuurseenheid-mock-login:
    image: lblod/update-bestuurseenheid-mock-login-service:0.1.2
    volumes:
      - ./config/mock-login:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  ##############################################################################
  # Vendor endpoint
  ##############################################################################
  vendor-login:
    image: lblod/vendor-login-service:1.0.0
    restart: always
    logging: *default-logging
  sparql-authorization-wrapper:
    image: lblod/sparql-authorization-wrapper-service:1.0.0
    volumes:
      - ./config/sparql-authorization-wrapper:/config
    restart: always
    logging: *default-logging
  vendor-data-distribution:
    image: lblod/vendor-data-distribution-service:1.6.1
    environment:
      LOGLEVEL: "error"
      WRITE_ERRORS: "true"
    volumes:
      - ./config/vendor-data:/config
    restart: always
    logging: *default-logging
  berichtencentrum-melding:
    image: lblod/berichten-melding-service:1.0.2
    volumes:
      - ./data/files:/share
    restart: always
    logging: *default-logging
  ################################################################################
  # DELTA GENERAL
  ################################################################################
  publication-triplestore:
    image: redpencil/virtuoso:1.2.0-rc.1
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://mu.semte.ch/application"
    volumes:
      - ./data/publication-triplestore:/data
      - ./config/publication-triple-store/virtuoso.ini:/data/virtuoso.ini
      - ./config/publication-triple-store/:/opt/virtuoso-scripts
    restart: always
    logging: *default-logging
  delta-producer-report-generator:
    image: lblod/delta-producer-report-generator:0.4.0
    volumes:
      - ./config/delta-producer/report-generator:/config
    environment:
      EMAIL_FROM: "noreply@lblod.info"
      EMAIL_TO: "support+lblod@redpencil.io"
      APP_NAME: "app-digitaal-loket-dev"
      OUTBOX: "http://data.lblod.info/id/mail-folders/2"
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  delta-producer-dump-file-publisher:
    image: lblod/delta-producer-dump-file-publisher:0.10.3
    environment:
      EXPORT_TTL_BATCH_SIZE: 20
      MAX_SUBJECT_COUNT: 1000000
    volumes:
      - ./config/delta-producer/dump-file-publisher:/config
      - ./data/files:/share
    # Temporary disable to no saturate the app-http-logger (should be fixed in a next version)
    #    labels:
    #      - "logging=true"
    restart: always
    logging: *default-logging
  delta-files-share:
    image: redpencil/file-share-sync:0.0.5
    volumes:
      - ./data/files:/share
    environment:
      ALLOW_SUPER_CONSUMER: "true"
      ALLOWED_ACCOUNTS: "http://services.lblod.info/diff-consumer/account,http://data.lblod.info/foaf/account/id/dd85f516-ee7c-406b-8245-91ce7f9545b7,http://data.lblod.info/foaf/account/id/4171b7a5-a4d6-42d0-bf37-f97b135fb885"
    restart: always
    logging: *default-logging
  ################################################################################
  # DELTA SUBMISSIONS: START
  ################################################################################
  delta-producer-background-jobs-initiator:
    image: lblod/delta-producer-background-jobs-initiator:1.0.0
    volumes:
      - ./config/delta-producer/background-jobs-initiator:/config
    labels:
      - "logging=true"
    restart: always
    logging: *default-logging
  delta-producer-publication-graph-maintainer:
    image: lblod/delta-producer-publication-graph-maintainer:1.2.2
    environment:
      MAX_BODY_SIZE: "50mb"
      PRETTY_PRINT_DIFF_JSON: "true"
      PUBLICATION_VIRTUOSO_ENDPOINT: "http://publication-triplestore:8890/sparql"
      PUBLICATION_MU_AUTH_ENDPOINT: "http://publication-triplestore:8890/sparql"
      SUDO_QUERY_RETRY_FOR_HTTP_STATUS_CODES: "404,500,503"
      CONFIG_SERVICES_JSON_PATH: '/config/publication-graph-maintainer/config.json'
    volumes:
      - ./config/delta-producer:/config
      - ./data/files/:/share
    # Temporary disable to no saturate the app-http-logger (should be fixed in a next version)
    #    labels:
    #      - "logging=true"
    restart: always
    logging: *default-logging
  ################################################################################
  # DELTA SUBMISSIONS: END
  ################################################################################

  ################################################################################
  # DELTA CONSUMERS
  ################################################################################
  ################################################################################
  # OP PUBLIC CONSUMER
  ################################################################################
  op-public-consumer:
    image: lblod/delta-consumer:0.0.25-rc.3
    environment:
      DCR_SERVICE_NAME: "op-public-consumer"
      DCR_SYNC_BASE_URL: "https://organisaties.abb.lblod.info" # replace with link to OP API
      DCR_SYNC_FILES_PATH: "/sync/public/files"
      DCR_SYNC_DATASET_SUBJECT: "http://data.lblod.info/datasets/delta-producer/dumps/PublicCacheGraphDump"
      DCR_INITIAL_SYNC_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/consumer/initialSync/op-public"
      DCR_DELTA_SYNC_JOB_OPERATION: "http://redpencil.data.gift/id/jobs/concept/JobOperation/deltas/consumer/deltaSync/op-public"
      DCR_JOB_CREATOR_URI: "http://data.lblod.info/services/id/op-public-consumer"
      DCR_DISABLE_INITIAL_SYNC: "true"
      DCR_KEEP_DELTA_FILES: "true"
      DCR_ENABLE_TRIPLE_REMAPPING: "true"
      DCR_LANDING_ZONE_GRAPH: "http://mu.semte.ch/graphs/landing-zone/op-public"
      DCR_REMAPPING_GRAPH: "http://mu.semte.ch/graphs/public"
      DCR_BATCH_SIZE: 1000
      SUDO_QUERY_RETRY_FOR_HTTP_STATUS_CODES: "404,500,503"
      SUDO_QUERY_RETRY: "true"
    volumes:
      - ./config/op-consumer/mapping:/config/mapping
      - ./data/files/consumer-files/op-public:/consumer-files/
    restart: always
    labels:
      - "logging=true"
    logging: *default-logging
