version: '3.4'
services:
  proxy:
    image: nginx:1.13
    volumes:
      - ./config/proxy:/etc/nginx/conf.d
    ports:
      - "443:443"
  mocklogin:
    image: lblod/mock-login-service:0.3.1
  loket:
    restart: "no"
  identifier:
    ports:
      - "80:80"
    restart: "no"
  dispatcher:
    restart: "no"
  database:
    restart: "no"
  virtuoso:
    ports:
      - "8890:8890"
    restart: "no"
  migrations:
    restart: "no"
  cache:
    restart: "no"
  resource:
    restart: "no"
  login:
    restart: "no"
  validation:
    restart: "no"
  file:
    restart: "no"
  create-bbcdr:
    restart: "no"
  package-bbcdr:
    restart: "no"
  deliver-bbcdr:
    restart: "no"
  dbcleanup:
    restart: "no"
  export-mandaten:
    restart: "no"
  export-leidinggevenden:
    restart: "no"
  export-inzendingen:
    restart: "no"
  export-log-entries:
    restart: "no"
  package-toezicht:
    restart: "no"
  deliver-toezicht:
    restart: "no"
  filehost:
    restart: "no"
  sink:
    restart: "no"
  berichtencentrum-sync-with-kalliope:
    restart: "no"
  adressenregister:
    restart: "no"
  person-reconcilitation:
    restart: "no"
